{% extends 'user/base.html' %}

{% block content%}
<h1>{{title}}</h1>
<form action="{% url 'add_page' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Добавить</button>
</form>
{% endblock %}