<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{{ category.name }}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Добавить</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<div class="container mt-3">
    <div class="row">
        <div class="cool-md-3">
            <div class="list-group">
                {% for i in cats%}
                <a href="/category/{{i.pk}}" class="list-group-item list-group-item-action">{{ i.name }}</a>
                {% endfor %}
            </div>
            <div class="cool-md-9">
                {% for i in posts %}
                <div class="card mp-3">
                    <div class="card-header">Категория: {{ i.cat }}</div>
                    <div class="card-body">
                        {% if i.image %}
                        <img src="{{i.image.url}}" alt="" width="350" class="mr-3">
                        {% else %}
                        <img src="https://on-desktop.com/wps/World___Norway_Boat_at_the_pier_of_a_mountain_lake_in_Norway_107911_.jpg"
                             alt="" width="350" class="mr-3">
                        {% endif %}
                        <h5 class="card-title">{{ i.title}}</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>
</html>
