{% extends 'user/base.html' %}

{% block sidebar %}
{% include 'user/sidebar.html' %}
{% endblock %}
{% block content %}
{% for item in posts %}
<div class="card mp-3">
    <div class="card-header">Категория: <a href="{{ item.get_absolute_url }}">{{ item.category }}</a></div>
        <div class="card-body">
            {% if item.image %}
            <img src="{{item.image.url}}" alt="" width="350" class="mr-3">
            {% else %}
            <img src="https://on-desktop.com/wps/World___Norway_Boat_at_the_pier_of_a_mountain_lake_in_Norway_107911_.jpg"
                 alt="" width="350" class="mr-3">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ i.title}}</h5>
                <a href="{{item.get_absolute_url}}" class="btn btn-primary">Просмотреть</a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}