{% load music_tags %}
<div class="list-grop">
    {% for item in categories %}
    <a href="{{ item.get_absolute_url }}" class="list-group-item list-group-item-action">{{item.title}}</a>
    {% endfor %}
</div>