{% extends 'user/base.html' %}

{% block title %}
Login :: {{ block.super }}
{% endblock %}
{% block content %}

<h1>Login</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>
{% endblock %}