{% extends 'user/base.html' %}

{% block content %}
<h1>{{post.title}}</h1>

{% if post.photo %}

#спросить про фото
<p><img src="{{post.photo.url}}" class="rounded mx-auto d-block"></p>
{% endif %}
{{post.content}}
{% endblock %}