{% load music_tags %}
{% comment %}

<div class="list-grop">
    {% get_categories as  categories %}
    {% for item in categories %}
    <a href="{% url 'category' item.pk %}" class="list-group-item list-group-item-action">{{item.title}}</a>
    {% endfor %}
</div>

<br>
{% endcomment %}

{% show_categories %}