{% extends 'user/base.html' %}

{% block title %}
{{ post_item.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'user/sidebar.html' %}
{% endblock %}
{% block content %}
<div class="card mp-3">
    <div class="card-header">Категория: <a href="{{ post_item.get_absolute_url }}">{{ post_item.category }}</a></div>
        <div class="card-body">
            {% if item.image %}
            <img src="{{post_item.image.url}}" alt="" width="350" class="mr-3">
            {% else %}
            <img src="https://on-desktop.com/wps/World___Norway_Boat_at_the_pier_of_a_mountain_lake_in_Norway_107911_.jpg"
                 alt="" width="350" class="mr-3">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ post_item.title}}</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}